<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="home-page">
  <div class="navi-page">
    <div class="menu">
    <app-navigation></app-navigation>
  </div>
    <div class="reservation-date">
      <app-reservation-date></app-reservation-date>
    </div>
  </div>

  <div class="info-rental">
    <app-info-rental></app-info-rental>
  </div>

  <div class="reference-field ">
    <app-reference-field></app-reference-field>
  </div>


  <div class="what-we-do ">
    <app-what-we-do></app-what-we-do>
  </div>


  <div class="advertisement ">
    <app-advertisement></app-advertisement>
  </div>


  <div class="car-filter">
    <app-car-filter></app-car-filter>
  </div>

  <div class="cars">
    <app-car></app-car>
  </div>


  <div class="see-more">
    <app-see-more></app-see-more>
  </div>


  <div class="contact-us ">
    <app-contact-us></app-contact-us>
  </div>


  <div class="subscribe-news ">
    <app-subscribe-news></app-subscribe-news>
  </div>

  <div class="footer">
    <!-- <app-test-page></app-test-page> -->
    <app-footer></app-footer>
  </div>
</div>
