<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>

<div class="settings container">
  <form [formGroup]="settingsSendForm">
    <div class="mb-3">
      <label for="firstName" class="form-label">İsim</label>
      <input
        type="firstName"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        [(ngModel)]="firstName"
      />
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Soyisim</label>
      <input
        type="lastName"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        [(ngModel)]="lastName"
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [(ngModel)]="email"
      />
    </div>
    <button id="update" (click)="update()">Bilgilerimi Güncelle</button>
  </form>
 <div class="divider"></div>

  <form [formGroup]="passwordSendForm">
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Eski Şifre</label>
      <input
      type="password"
        class="form-control"
        id="oldPassword"
        formControlName="oldPassword"
        [(ngModel)]="oldPassword"
      />
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">Yeni Şifre</label>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
        [(ngModel)]="newPassword"
      />
    </div>

    <div class="mb-3">
      <label for="repeatNewPassword" class="form-label">Yeni Şifre Tekrar</label>
      <input
        type="password"
        class="form-control"
        id="repeatNewPassword"
        formControlName="repeatNewPassword"
        [(ngModel)]="repeatNewPassword"
      />
    </div>
    <button id="update" (click)="updatePassword()">Şifremi Güncelle</button>
  </form>
</div>
