.sidebar {
  float: left;
}
.settings {
  float: left;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

form {
  width: 100%; /* İstediğiniz genişliği ayarlayabilirsiniz */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.divider {
  border-right: 2px solid #ccc;
  justify-self: center;
}
#update {
  width: 100%;
  height: 2.2rem;
  border: 0;
  border-radius: 0.5rem;
  font-family: Roboto;
  font-size: 0.8rem;
  outline: 1px solid rgba(0, 119, 255, 0.295);
}
#update:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: #fff;
}

form label {
  font-size: 0.8rem;
  font-weight: 500;
}
form input {
  font-size: 0.8rem;
}
@media screen and (min-width: 1440px) {
  .sidebar {
    width: 15rem;
  }
  .settings {
    width: 50rem;
    margin-left: 3rem;
    margin-top: 3rem;
  }
}
