<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="info-rental">
  <div class="bg"></div>
  <div class="info-rental-content container">
    <div class="content-main">
      <div class="content-left">
        <div class="item i1">
          <div class="item-top">
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa fa-lg fa-car "></i>
            </div>
            <span class="item-title">Lüks Araç Kiralama Seçenekleri</span>
            <div id="info-circle"></div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
        <div class="item i2">
          <div class="item-top">
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fas fa-car-crash"></i>
            </div>
            <span class="item-title">Size Uygun Sigorta Seçenekleri</span>
            <div id="info-circle"></div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
        <div class="item i3">
          <div class="item-top">
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fa fa-binoculars"></i>
            </div>
            <span class="item-title">Mevcut 5000+ Araç Kapasitesi</span>
            <div id="info-circle"></div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
      </div>
      <div class="content-center">
        <img src="assets/image/top-car-view.png">
      </div>

      <div class="content-right">
        <div class="item i1">
          <div class="item-top">
            <div id="info-circle"></div>
            <span class="item-title">İstediğiniz Yerden Araç Teslimi</span>
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fas fa-map-marker-alt"></i>
            </div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
        <div class="item i2">
          <div class="item-top">
            <div id="info-circle"></div>
            <span class="item-title">Detaylı Araç Temizliği</span>
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fas fa-water"></i>
            </div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
        <div class="item i3">
          <div class="item-top">
            <div id="info-circle"></div>
            <span class="item-title">7/24 Online Destek Hizmeti</span>
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fa-solid fa-message"></i>
            </div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
      </div>

      <div class="mobile-content-right">
        <div class="item i1">
          <div class="item-top">
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fas fa-map-marker-alt"></i>
            </div>
            <span class="item-title">İstediğiniz Yerden Araç Teslimi</span>
            <div id="info-circle"></div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
        <div class="item i2">
          <div class="item-top">
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fas fa-water"></i>
            </div>
            <span class="item-title">Detaylı Araç Temizliği</span>
            <div id="info-circle"></div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
        <div class="item i3">
          <div class="item-top">
            <div id="icon-box" class="p-2 border shadow text-center">
              <i class="fa-lg fa-solid fa-message"></i>
            </div>
            <span class="item-title">7/24 Online Destek Hizmeti</span>
            <div id="info-circle"></div>
          </div>
          <div class="item-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Eu volutpat odio facilisis
              mauris sit amet massa. Tincidunt praesent semper
              feugiatnibh sed pulvinar proin gravida. Donec enim
              diam vulputate ut pharetra sit amet.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <span id="next-page-title">EN İYİ REFERANSLARA SAHİBİZ</span>
      <div class="mt-4" id="next-page-line">
    </div>
  </div>

</div>
