<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="what-we-do" id="about">
  <div class="what-we-do-content container">
    <div class="content-img">
      <img class="features-img" src="assets/image/test-square.jpg">
    </div>

    <div class="content-center">
      <div class="title"> <span class="p-0 m-0">NELER <strong>YAPIYORUZ?</strong></span></div>
      <div class="main mt-3">
        <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
          dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet massa. Tincidunt praesent semper feugiat
          nibh sed ulvinar proin gravida. Donec enim diam vulputate ut pharetra sit amet. Ornare arcu odio ut sem
          nulla. Risus at ultrices mi tempus imperdiet.
          Id donec ultrices tincidunt arcu non sodales neque sodales.
          Pharetra vel turpis nunc eget lorem dolor  sed. Nisl purus in mollis nunc sed
          id semper risus in. Ac tortor dignissim convallis aenean. Pharetra vel
          turpis nunc eget lorem dolor sed.  <br>  Nisl purus in mollis nunc sed
          id semper risus in. <br>  Ac tortor dignissim convallis aenean.   Pharetra vel <br>
          turpis nunc eget.
        </p>
        <div id="square">
          <div class="square-text">
            <p id="punctuation"><strong>"</strong></p>
            <span>Lorem ipsum dolor
              sit amet, consectetur
              adipiscing elit, sed do
              eiusmod tempor incididunt ut labore</span>
          </div>
        </div>
      </div>
      <div class="content-list">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</li>
          <li>Lorem ipsum dolor sit amet, consectetur </li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing </li>
        </ul>
      </div>

      <div class="features">
        <div class="features-top">
          <div>
            <i class="fa-solid fa-users"></i>
            <span>Büyük Destek Ekibi</span>
          </div>

          <div>
            <i class="fa-solid fa-user-secret"></i>
            <span>En İyi Şirket Danışmanları</span>
          </div>

          <div>
            <i class="fa-solid fa-clock"></i>
            <span>7/24 Destek Sistemi</span>
          </div>

        </div>
        <div class="features-bottom">
          <div>
            <i class="fa-solid fa-lock"></i>
            <span>Güvenli ve Kaliteli Hizmet</span>
          </div>

          <div>
            <i class="fa-solid fa-map"></i>
            <span>GPS İzleme ve Yardım</span>
          </div>

          <div>
            <i class=" fa-solid fa-car"></i>
            <span>Geniş Model Yelpazesi</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
