<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="footer" >
  <div class="footer-content row" style="margin:auto">
    <div class="footer-content-top">
      <div class="footer-menu">
        <div class="mt-3 left">
          <ul>
            <li id="footer-title">Araştır</li>
            <li id="footer-text"><a href="#">Araç Kiralama</a></li>
            <li id="footer-text"><a href="#">Şehirde Araç Kiralama</a></li>
            <li id="footer-text"><a href="#">Uygulama</a></li>
            <li id="footer-text"><a href="#">Site Haritası</a></li>
          </ul>
        </div>
        <div class="mt-3 right">
          <ul>
            <li id="footer-title">İş Ortakları</li>
            <li id="footer-text"><a href="#">Bizimle Çalışın</a></li>
            <li id="footer-text"><a href="#">Seyahat Detayları</a></li>
            <li id="footer-text"><a href="#">Bizimle Reklam Verin</a></li>
            <li id="footer-text"><a href="#">Referanslarımız</a></li>
          </ul>
        </div>
        <div class="mt-3 left">
          <ul>
            <li id="footer-title">Şirket</li>
            <li id="footer-text"><a href="#">Hakkımızda</a></li>
            <li id="footer-text"><a href="#">Araçlarımız</a></li>
            <li id="footer-text"><a href="#">Sıcak Fırsatlar</a></li>
            <li id="footer-text"><a href="#">Hizmet Koşulları</a></li>
          </ul>
        </div>
        <div class="mt-3 right">
          <ul>
            <li id="footer-title">Yardım</li>
            <li id="footer-text"><a href="#">Sıkça Sorulan Sorular</a></li>
            <li id="footer-text"><a href="#">Müşteri Hizmetleri</a></li>
            <li id="footer-text"><a href="#">Bize Ulaşın</a></li>
            <li id="footer-text"><a href="#">Gizlilik Politikası</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-content-bottom">

      <div class="footer-bottom-center mt-5">
        <div class="footer-bottom-left">
          <div class="social-icons">
            <span class="icon">
              <div class=" fa-brands fa-facebook-f"></div>
            </span>
            <span class="icon">
              <div class=" fa-brands fa-twitter"></div>
            </span>
            <span class="icon">
              <div class=" fa-brands fa-google-plus-g"></div>
            </span>
            <span class="icon">
              <div class=" fa-brands fa-instagram "></div>
            </span>
            <span class="icon">
              <div class=" fa fa-rss"></div>
            </span>
          </div>

          <div class="copyright">
            <span class="copyright-text mt-4">© Copyright. All rights reserved.</span>
          </div>
        </div>


        <div class="download-app">

          <div class="app-store">
            <i class="fa-brands fa-apple"></i>
            <div class="download-app-text">
              <span>Hemen İndir</span>
              <span>App Store</span>
            </div>
          </div>

          <div class="play-store">
            <i class="fa-brands fa-google-play"></i>
            <div class="download-app-text">
              <span>Hemen İndir</span>
              <span>Play Store</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
