<div class="vehicles container">
  <div class="navi">
    <app-navigation></app-navigation>
  </div>

  <div class="vehicles-date container">
    <app-date-menu (rentDate)="rentDate = $event" 
    (retDate)="retDate = $event"></app-date-menu>
  </div>

  <div class="cars">
    <app-car [rentDate]="rentDate" [retDate]="retDate"></app-car>
  </div>

  <div class="vehicles-filter">
    <div class="brand">
      <app-brand></app-brand>
    </div>

    <div class="color">
      <app-color></app-color>
    </div>
    <div class="body">
      <app-body></app-body>
    </div>

    <div class="filter-mobile">
      <div class="filter-options-test">
        <li class="list-group-item" (click)="getAllCar()">
          <span
           [style.backgroundColor]="isGetCar ? '#ECCC95' : '#fff'"
           [style.color]="isGetCar ? '#fff' : '#000'"
           [style.borderColor]="isGetCar ? '#DEAA4F' : '#C8C8C8'">Tümü</span>
          </li>
        <li class="list-group-item" (click)="brandOpen()">  <span
          [style.backgroundColor]="isActiveBrand ? '#ECCC95' : '#fff'"
          [style.color]="isActiveBrand ? '#fff' : '#000'"
          [style.borderColor]="isActiveBrand ? '#DEAA4F' : '#C8C8C8'">Marka<i class="fa-solid fa-angle-down"></i></span>
        </li>
        <li class="list-group-item" (click)="colorOpen()">  <span
          [style.backgroundColor]="isActiveColor ? '#ECCC95' : '#fff'"
          [style.color]="isActiveColor ? '#fff' : '#000'"
          [style.borderColor]="isActiveColor ? '#DEAA4F' : '#C8C8C8'">Renk<i class="fa-solid fa-angle-down"></i></span>
        </li>
        <li class="list-group-item" (click)="bodyOpen()"> <span
          [style.backgroundColor]="isActiveBody ? '#ECCC95' : '#fff'"
          [style.color]="isActiveBody ? '#fff' : '#000'"
          [style.borderColor]="isActiveBody ? '#DEAA4F' : '#C8C8C8'">Kasa<i class="fa-solid fa-angle-down"></i></span>
        </li>
        <li class="list-group-item"  >  <span
          [style.backgroundColor]=" isActivePopular ? '#ECCC95' : '#fff'"
          [style.color]="isActivePopular ? '#fff' : '#000'"
          [style.borderColor]="isGetCar ? '#DEAA4F' : '#C8C8C8'"><i class="fa-solid fa-star"></i>Popüler</span>
        </li>
      </div>

    </div>

    <div class="filter-menu">
      <app-car-filter></app-car-filter>
    </div>
  </div>
  <div *ngIf="isOpenBrand" class="filter-content">
    <app-brand  (BrandEvent)="brandOpenSendChild($event)"></app-brand>
  </div>
  <div *ngIf="isOpenColor" class="filter-content">
    <app-color (ColorEvent)="colorOpenSendChild($event)"></app-color>
  </div>
  <div *ngIf="isOpenBody" class="filter-content">
    <app-body (BodyEvent)="bodyOpenSendChild($event)"></app-body>
  </div>
  <div *ngFor="let car of rents">
    <div>{{car.rentDate}}</div>
  </div>

</div>

<div class="footer mt-4">
  <app-footer></app-footer>
</div>
