/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Roboto-Medium;
  src: url(assets/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/INTER_FXH-REGULAR.TTF) format("truetype");
}

@font-face {
  font-family: Inter-Bold;
  src: url(assets/fonts/INTER_FXH-BOLD.TTF) format("truetype");
}

@font-face {
  font-family: NFS;
  src: url(assets/fonts/NFS_by_JLTV.ttf) format("truetype");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.dropdown-menu-user-settings #dropdown-animated {
  transform: translate(2px, 40px) !important;
}

.user-first-name #dropdown-animated {
  inset: 0px auto auto 20px !important;
  transform: translate3d(-10px, 35px, 0px) !important;
}

.save-driver .tooltip {
  width: 20rem !important;
}

.credit-card-modal .modal-content {
  top: 30vh !important;
}

.accordion-button {
  font-weight: 500;
}

.question-modal .modal-dialog,
.question-modal .modal-content {
  width: 50% !important;
  margin: 0 auto !important;
  top: 20% !important;
}

.new-car-modal .modal-dialog {
  --bs-modal-width: 60% !important;
}

@media screen and (min-width: 1440px) {
  .modal-dialog {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height: 100vh !important;
    margin-top: 30vh !important;
  }
}

@media screen and (max-width: 768px) {
  .question-modal .modal-dialog {
    width: 90% !important;
  }

  .question-modal .modal-content {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}