.brand {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 100%;
}
.brand-content {
  display: grid;
  grid-template-rows: 50px auto;
  align-items: center;
}
.brand-title {
  background-color: #522100;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  align-self: center;
}
.brand-title span {
  font-family: Roboto-Bold;
  color: white;
  font-size: large;
  vertical-align: middle;
}

li {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Roboto;
}
.active {
  background-color: #deaa4f;
  color: white;
  border: 0px solid #deaa4f;
}

@media screen and (max-width: 1440px) {
  .brand {
    grid-template-rows: auto;
    z-index: 8;
  }
  .brand-title span {
    font-size: small;
    align-content: center;
  }
  .content-search input {
    font-size: small;
  }
  .brand {
    background-color: #fff;
  }
 
  .content-search input {
    border: none;
    background-color: #eeeeee;
    border-radius: 0;
  }
  li{
    font-size: small;
  }
  .input-group-text{
    background-color: #eeeeee;
    border-radius: 0;
   border: none;
   font-size: small;
   align-self: center;
   padding: 10px;
   color:#deaa4f;
  }


}

@media screen and (max-width: 768px) {
  .brand {
    grid-template-rows: auto;
    z-index: 8;
  }
  .brand-title {
    display: none;
  }

  .brand-title span {
    font-size: small;
    align-content: center;
  }
  .content-search input {
    font-size: small;
  }
  .brand {
    background-color: #fff;
  }
  .show-all {
    display: none;
  }
  .content-search input {
    border: none;
    background-color: #eeeeee;
    border-radius: 0;
  }
  li{
    font-size: small;
  }
  .input-group-text{
    background-color: #eeeeee;
    border-radius: 0;
   border: none;
   font-size: small;
   align-self: center;
   padding: 10px;
   color:#deaa4f;
  }


}

@media screen and (max-width: 425px) {
  .brand {
    grid-template-rows: auto;
    z-index: 8;
  }
  .brand-title {
    display: none;
  }

  .brand-title span {
    font-size: small;
    align-content: center;
  }
  .content-search input {
    font-size: small;
  }
  .brand {
    background-color: #fff;
  }
  .show-all {
    display: none;
  }
  .content-search input {
    border: none;
    background-color: #eeeeee;
    border-radius: 0;
  }
  li{
    font-size: small;
  }
  .input-group-text{
    background-color: #eeeeee;
    border-radius: 0;
   border: none;
   font-size: small;
   align-self: center;
   padding: 10px;
   color:#deaa4f;
  }
}

@media screen and (max-width: 375px) {
  .brand {
    grid-template-rows: auto;
    z-index: 8;
  }
  .brand-title {
    display: none;
  }

  .brand-title span {
    font-size: small;
    align-content: center;
  }
  .content-search input {
    font-size: small;
  }
  .brand {
    background-color: #fff;
  }
  .show-all {
    display: none;
  }
  .content-search input {
    border: none;
    background-color: #eeeeee;
    border-radius: 0;
  }
  li{
    font-size: small;
  }
  .input-group-text{
    background-color: #eeeeee;
    border-radius: 0;
   border: none;
   font-size: small;
   align-self: center;
   padding: 10px;
   color:#deaa4f;
  }
}

@media screen and (max-width: 320px) {
  .brand {
    grid-template-rows: auto;
    z-index: 8;
  }
  .brand-title {
    display: none;
  }

  .brand-title span {
    font-size: small;
    align-content: center;
  }
  .content-search input {
    font-size: small;
  }
  .brand {
    background-color: #fff;
  }
  .show-all {
    display: none;
  }
  .content-search input {
    border: none;
    background-color: #eeeeee;
    border-radius: 0;
  }
  li{
    font-size: small;
  }
  .input-group-text{
    background-color: #eeeeee;
    border-radius: 0;
   border: none;
   font-size: small;
   align-self: center;
   padding: 10px;
   color:#deaa4f;
  }
}
