<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="body-filter">
    <div class="body ">
      <div class="body-title">
        <span>Kasa Tipleri</span>
      </div>
      <div class="body-content">
        <div class="content-search">
          <form>
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>

              <input class="form-control" type="search" placeholder="Kasa tipi giriniz..." aria-label="Search">
            </div>
          </form>
        </div>
        <div class="content-list">
          <li class="list-group-item p-2 show-all" type="button" (click)="clearCurrentBody()" routerLink="/cars"
            [class]="getAllBodyClass()">Tümünü gör</li>
          <li *ngFor="let body of bodies" type="button" routerLink="/cars/body/{{body.id}}"
            (click)="setCurrentBody(body)" class="p-2" [class]="getCurrentBodyClass(body)">{{body.type}}</li>
        </div>
      </div>
    </div>
  </div>
  