<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="advertisement">
  <div class="advertisement-content container">
    <div class="left-content">
      <div> <span>BÜTÜN <strong>ARAÇLARDA</strong></span>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis.</p>
      </div>
    </div>
    <div class="right-content">
      <div><span><strong>+5 Ödeme</strong> İmkanı</span></div>
      <div class="payment-type">
        <div class="text-center"><img src="assets/image/payment-type.png"></div>
      </div>
      <div></div>
    </div>
  </div>
</div>
