.sidebar {
  float: left;
}

.colors {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
.colors-content {
  overflow-y: auto;
  height: 98vh;
}

table {
  table-layout: fixed;
}
table tbody tr:last-child {
  text-align: center;
  font-family: Roboto-Bold !important;
  padding: 0;
}
table tbody tr:last-child th {
  
  border-bottom: 0;
}

table tbody tr:last-child th button {
  background-color: #663399da;
  cursor: pointer;
  color: #fff;
}
table tbody tr:last-child th button:hover {
  background-color: #663399;
}

#updateDeleteButtons {
  text-align: end;
}
button {
  font-size: 0.7rem;
}
button:last-child {
  margin-left: 1rem;
}
.question-modal-color {
  padding: 2rem;
}
.question-modal-color p {
  font-family: Roboto-Medium;
}
.question-modal-color button {
  font-family: Roboto-Medium;
}
#btn-yes {
  padding: 10px;
  background-color: green;
  color: #fff;
  font-size: 0.8rem;
}
#btn-yes:hover {
  background-color: #17a917;
}
#btn-no {
  padding: 10px;
  color: #000;
  font-size: 0.8rem;
}
#btn-no:hover {
  background-color: #7c0404;
  color: #fff;
}

/*ADD - UPDATE Modal*/
.new-color-modal-color,
.update-color-modal-color {
  font-family: Roboto-Medium;
  padding: 2rem;
}
#addNewColor,
#updateNewColor {
  font-family: Roboto-Medium;
  background-color: #c18863;
  padding: 0.5rem;
  width: 100%;
  color: #fff;
  margin: 0 !important;
}
#addNewColor:focus,
#updateNewColor:focus,
#addNewColor:hover,
#updateNewColor:hover {
  outline: none;
  box-shadow: 0 0 0 0.15rem rgb(195 100 34);
}

#addNewColor:hover,
#updateNewColor {
  background-color: #c59574;
}
.new-color-modal-color {
  padding: 1rem;
}
/* #endregion */

@media screen and (min-width: 1440px) {
  .sidebar {
    width: 15rem;
  }
  .colors {
    width: 50%;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
