<div class="cars container">
  <div class="car-content">
    <div class="card p-0" *ngFor="let car of carDetails">
      <div class="card-img">
        <img [src]="imageBaseUrl + car.carImages[0].imagePath" class="card-img-top" alt="araba görseli" />
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">{{car.brandName}} - {{car.modelName}}</h5>
        <div class="line">
          <div class="row" class="line-top"></div>
          <div class="row" class="line-bottom"></div>
        </div>
        <div class="container">
          <div class="row card-body-center">
            <div class="card-body-icon">
              <div>
                <img src="assets/image/icon-suv.png" id="card-body-icon" />
              </div>
              <div>
                <img src="assets/image/icon-fuel-b.png" id="card-body-icon" />
              </div>
              <div>
                <img src="assets/image/icon-gearbox.png" id="card-body-icon" />
              </div>
              <div
                ngbTooltip="Araç findeks puanını belirtir. Findeks puanınıza göre kiralayabileceğiniz araçlar değişecektir."
                placement="right">
                <svg id="card-body-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2b2626"
                  viewBox="0 0 256 256">
                  <path
                    d="M207.06,80.67A111.24,111.24,0,0,0,128,48h-.4C66.07,48.21,16,99,16,161.13V184a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V160A111.25,111.25,0,0,0,207.06,80.67ZM224,184H119.71l54.76-75.3a8,8,0,0,0-12.94-9.42L99.92,184H32V161.13c0-3.08.15-6.12.43-9.13H56a8,8,0,0,0,0-16H35.27c10.32-38.86,44-68.24,84.73-71.66V88a8,8,0,0,0,16,0V64.33A96.14,96.14,0,0,1,221,136H200a8,8,0,0,0,0,16h23.67c.21,2.65.33,5.31.33,8Z">
                  </path>
                </svg>
              </div>
            </div>
            <div class="card-body-text">
              <div class="body text-center">
                <span class="cardDetail">{{ car.bodyType }}</span>
              </div>
              <div class="fuel text-center">
                <span class="cardDetail">{{ car.fuelType }}</span>
              </div>
              <div class="transmission text-center">
                <span class="cardDetail">{{ car.transmissionType }}</span>
              </div>
              <div class="credit-score text-center">
                <span class="cardDetail">{{car.creditScore}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape" (click)="[goToVehicles(car.carId)]">
        <div class="daily-price text-center">
          <span [(ngModel)]="dailyPrice" name="dailyPrice" ngDefaultControl>{{ car.dailyPrice | currency : "TRY" : "₺"
            }} /</span><span class="daily-text">günlük</span>
        </div>
      </div>
    </div>
  </div>
</div>